@charset "UTF=8";

body {
    text-align: center;
}

h1 {
    background-color: rgb(37, 144, 85);
    height: auto;
    width: auto;
}

h2 {
    background-color: rgb(121, 212, 162);
    
}

ul {
    display: flex;
}

ul li {
    list-style-type:none;
    padding-right: 20px;
    padding-top: 30px;
}